.wrapper {
    margin: 1rem 0;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flag {
    width: 1.5rem;
    height: 1.1rem;
    margin-right: 0.6rem;
    border-radius: 0.2rem;
    flex-shrink: 0;
}

.fallbackFlag {
    display: inline-block;
    width: 1.5em;
    height: 1.1rem;
    margin-right: 0.6rem;
}
