.word::first-letter {
    text-transform: capitalize;
}

.list {
    margin-left: 2rem;
    list-style: none;
}

.meaning {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.error {
    color: #b00020;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}
